.dashboardActionItems{
width: 60vw;
height: 40vh;

display: flex;
justify-content: space-around;
align-items: center;
}

.dashboardHeading{
    text-align: center;
    color: purple;
}

.dashboardActionItemsRemove{
    width: 400px;
    height: 100px;
    background-color: purple;
    color: white;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboardActionItemsDetails{
    width: 400px;
    height: 100px;
    background-color: purple;
    color: white;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboardActionItemsRemoveInput{
    width: 80%;
    padding: 5px 10px;
    color: purple;
    border: none;
   border-radius: 5px;
    margin-bottom: 10px;
}

.dashboardActionItemsRemoveInput:focus{
outline: none;
}

.dashboardActionItemsRemoveInput::placeholder{
    color: purple;
}

.dashboardActionItemsBtn{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: purple;
    cursor: pointer;
}