.taskListCompHeading {
  display: block;
  text-align: center;
  color: purple;
}

.taskListCompNoTask {
  width: 60vw;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.taskListCompNoTaskPara{
    color: purple;
}

.taskListCompIfTask{
  display: flex;
  justify-content: center;
}

.taskListCompIfTaskListsList {
  list-style-type: none;
}
