<div>
    <form class="signInInputForm" (ngSubmit)="signIn()">
      <h2 class="signInInputHeading">Sign In</h2>
      <label class="inputLabel">Email</label>
      <input class="signInInput" type="email" [(ngModel)]="email" name="email" placeholder="Enter Email" required />
      <label class="inputLabel">Password</label>
      <input class="signInInput" type="password" [(ngModel)]="password" name="password" placeholder="Enter Password" required />
      <button class="signInInputBtn" type="submit">Sign In</button>
    </form>
  </div>