<nav class="navbar">
    <h1 class="navbarHeading">To Do App</h1>
    @if (!authService.isAuthenticated()) {
        <div class="authNav">
        <a class="list" routerLink="/sign-in">Sign In</a>
        <a class="list" routerLink="/sign-up">Sign Up</a>
        </div>
    }
    @if (authService.isAuthenticated()) {
        <div class="authNav">
            <h3 class="authNavName">{{ authService.userName() }}</h3>
            <button class="authNavButton" (click)="signOut()">Sign Out</button>
        </div>
    }
</nav>