<!-- task.component.html -->
<div class="taskComp">
  @if (!isEditing()) {
    <div class="taskDetails">
      <div class="taskPart">
        <input 
          type="checkbox" 
          name="taskDone" 
          class="taskDoneCheck"
          [checked]="task().myTaskCompleted"
          (change)="toggleTaskComplete()"
        >
        <p class="taskCompTask">{{ task().myTask }}</p>
      </div>
      <p class="taskCompTime">{{ getFormattedTime() }}</p>
    </div>
    <div class="taskCompButtons">
      <button class="taskCompEditButton" (click)="toggleEdit()">Edit</button>
      <button class="taskCompDeleteButton" (click)="onDelete()">Delete</button>
    </div>
  } @else {
    <div>
      <input type="text" [(ngModel)]="editedTask" class="taskCompInput" />
      <div class="taskCompButtons">
        <button class="taskCompSaveButton" (click)="saveTask()">Save</button>
        <button class="taskCompCancelButton" (click)="toggleEdit()">Cancel</button>
      </div>
    </div>
  }
</div>