.signUpForm{
    width: 60vw;
    height: 35vh;
    padding: 20px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    color: purple;
    border: 1px solid purple;
    border-radius: 20px;
}

.signUpHeading{
    align-self: center;
}

.signUpInput{
    padding: 5px 10px;
    margin-bottom: 10px;
}

.signUpInput:focus{
    outline:none;
}

.signUpInputBtn{
    width: 150px;
    padding: 5px 10px;
    align-self: end;
    border: none;
    border: 1px solid purple;
    background-color: white;
    color: purple;
    cursor: pointer;
}