<div>
    <form class="signUpForm" (ngSubmit)="signUp()">
      <h2 class="signUpHeading">Sign Up</h2>
      <label class="inputLabel">Name</label>
      <input class="signUpInput" type="text" [(ngModel)]="userName" name="userName" placeholder="Enter Username" required />
      <label class="inputLabel">Email</label>
      <input class="signUpInput" type="email" [(ngModel)]="email" name="email" placeholder="Enter Email" required />
      <label class="inputLabel">Password</label>
      <input  class="signUpInput" type="password" [(ngModel)]="password" name="Enter password" placeholder="Password" required />
      <button class="signUpInputBtn"type="submit">Sign Up</button>
    </form>
  </div>